@ms-viewport {
 width: device-width;
}

body {
 background-image: url("images/CloudBackground.jpg");
 background-size: cover;
 /*background-position: center;*/
 background-repeat: no-repeat;
 background-color: #white;
}

/*page header*/ 
h1#mainpage-title {
 color: #00008B;
 font-family: Calibri;
 font-size: 50px;
 font-style: italic;
 width: 75%;
 text-align: center;
 margin-bottom: 5px;
 }

h1#mainpage-title img {
 float: left;
 max-width: 7%;
 height: auto;
 margin-left: 25px;
 margin-right: 50px;
 padding: 0px;
}

h1#aboutuspage-title {
 color: #00008B;
 font-family: Calibri;
 font-size: 50px;
 font-style: italic;
 width: 75%;
 text-align: center;
 margin-bottom: 5px;
 }

h1#aboutuspage-title img {
 /*float: right;*/
 max-width: 7%;
 height: auto;
 margin-left: 25px;
 margin-right: 25px;
 padding: 0px;
}

h1#greatestpage-title {
 color: #00008B;
 font-family: Calibri;
 font-size: 50px;
 font-style: italic;
 width: 75%;
 text-align: center;
 margin-bottom: 5px;
 }

h1#greatestpage-title img {
 /*float: right;*/
 max-width: 7%;
 height: auto;
 margin-left: 25px;
 margin-right: 25px;
 padding: 0px;
}

h1#obocpage-title {
 color: #00008B;
 font-family: Calibri;
 font-size: 50px;
 font-style: italic;
 width: 75%;
 text-align: center;
 margin-bottom: 5px;
 }

h1#obocpage-title img {
 /*float: right;*/
 max-width: 7%;
 height: auto;
 margin-left: 25px;
 margin-right: 25px;
 padding: 0px;
}

h2#page-subtitle {
 color: #008B8B;
 font-family: Kristen ITC; /*this is a fun font*/
 font-size: 25px;
 font-style: italic;
 width: 75%;
 text-align: center;
 margin-bottom: 7px;
 }

@keyframes colorChange {
from { color: #008B8B; }
to { color: blue; }
}

booktitleanimation {
animation-name: colorChange;
animation-duration: 2s;
animation-iteration-count: infinite;
}

/*.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}*/

/*figure.LogoWBC img {
 float: right;
 max-width: 10%;
 height: auto;
 margin-left: 25px;
 padding: 5px;
}*/

figure.header-catandbooks img {
 float: right;
 max-width: 30%;
 height: auto;
 margin-left: 30px; /*35%*/
 margin-top: 0px;
 margin-right: 40px;
 margin-bottom: 50px;
 /*border: 3px solid black; design choice to remove*/
 padding: 5px;
}

figure.main-catandbooks img {
  float: right;
  max-width: 25%;
  height: auto;
  margin-left: 30px;
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 35px;
  /*border: 3px solid black; design choice to remove*/
  padding: 5px;
}

figure.CirceDustJacket img {
  float: right;
  max-width: 15%;
  height: auto;
  margin-left: 30px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 35px;
  /*border: 3px solid black; design choice to remove*/
  padding: 5px;
}

figure.KavClayDustJacket img {
  /*float: right;*/
  max-width: 20%;
  height: auto;
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 25px;
  /*border: 3px solid black; design choice to remove*/
  padding: 5px;
}

figure.LessonsDustJacket img {
  float: right;
  max-width: 15%;
  height: auto;
  margin-left: 30px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 35px;
  /*border: 3px solid black; design choice to remove*/
  padding: 5px;
}

figure.header-helloB img {
  float: right;
  max-width: 30%;
  height: auto;
  margin-left: 30px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 35px;
  /*border: 3px solid black; design choice to remove*/
  padding: 5px;
}

figure.littlewomenfilm img {
  float: right;
  max-width: 35%;
  height: auto;
  margin-left: 30px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 35px;
  /*border: 3px solid black; design choice to remove*/
  padding: 5px;
}

/*need class to do this with less code*/ 
h1 {
 font-family: Calibri;
 font-size: 25px;
 font-style: italic;
 width: 75%;
 }

h2 {
 font-family: Calibri;
 font-size: 25px;
 font-style: italic;
 width: 75%;
 }

h3 {
 font-family: Calibri;
 font-size: 25px;
 font-style: italic;
 width: 75%;
 }

h4 {
 font-family: Calibri;
 font-size: 25px;
 font-style: italic;
 width: 75%;
 }

h5 {
 font-family: Calibri;
 font-size: 25px;
 font-style: italic;
 width: 75%;
 }

h6 {
 font-family: Calibri;
 font-size: 25px;
 font-style: italic;
 width: 75%;
 }

header p {
 font-family: Calibri;
 font-size: 20px;
 width: 75%;
 /*background: lightyellow;*/
 margin-top: 15px;
 /*margin-left: 35px;*/
 /*text-align: left;*/
}

p {
  font-family: Calibri;
  font-size: 20px;
  width: 75%;
  /*background: lightyellow;*/
  margin-top: 15px;
}

/*styling for the top menu elements*/
.menu-items {
 width: 1000px;
 display: flex;
 justify-content: flex-start;
 gap: 60px;
 font-weight: bold;
 background-color: #fffcc4; /*#fffab1;*/
 list-style: none;
 padding: 0;
 border-top: 2px solid black;
 border-bottom: 2px solid black;
 margin-left: 35px;
 margin-bottom: 35px;
}

.menu-items .menu-items-opt {
 padding: 5px;
}

.menu-items .menu-items-opt a {
 /*font-weight: bold;*/
 color: blue;
 text-decoration: none;
 font-family: Calibri;
}

.menu-items .menu-items-opt .home a {
 background-color: green;
}

.menu-items .menu-items-opt a:hover {
 text-decoration: underline;
}

main ul li a {
  font-family: Calibri;
  font-size: 20px;
}

/*styling for the footer elements*/
footer nav ul {
 width: 1000px;
 display: flex;
 justify-content: flex-start;
 gap: 60px;
 background-color: #fffcc4;
 list-style: none;
 padding: 5px;
 border-top: 2px solid black;
 border-bottom: 2px solid black;
 margin-left: 35px;
 margin-top: 0px;
}

footer nav ul li a {
  font-weight: bold;
  color: blue;
  text-decoration: none;
  font-family: Calibri;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

footer#page-footer {
  padding: 32px 0;
  margin-top: 64px;
  margin-left: 35px;
  /*text-align: left;*/
  /*background-color: yellow;*/
  /*color: blue;*/
}

footer p {
 font-family: Calibri;
 font-size: 15px;
 margin-left: 35px;
}

screenreader-text {
 position: absolute;
 left: -999px;
 width: 1px;
 height: 1px;
 top: auto;
}

screenreader-text:focus {
 color: black;
 display: inline-block;
 height: auto;
 width: auto;
 position: static;
 margin: auto;
}

#welcMessage {
  font-family: Calibri;
  color: blue;
  background: #fffcc4;
  border: 1px solid black;
  text-align: center;
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 4px;
  width: 25%;
}

#welcMessage button {
  float: right;
}

body.dark-mode {
  background: black;
  color: white;
}
